Repository Lumina-Enterprise-Solutions/prism-user-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team, @Lumina-Enterprise-Solutions/backend-team, @Lumina-Enterprise-Solutions/frontend-team, @Lumina-Enterprise-Solutions/architecture-team, @Lumina-Enterprise-Solutions/security-team

.github/CODEOWNERS:

# Global owners
* @Lumina-Enterprise-Solutions/platform-team

# Infrastructure code
/infra/ @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team
/terraform/ @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team
/k8s/ @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team
/helm/ @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team

# Backend code
/cmd/ @Lumina-Enterprise-Solutions/backend-team
/internal/ @Lumina-Enterprise-Solutions/backend-team
/pkg/ @Lumina-Enterprise-Solutions/backend-team

# Frontend code
/src/ @Lumina-Enterprise-Solutions/frontend-team
/components/ @Lumina-Enterprise-Solutions/frontend-team
/pages/ @Lumina-Enterprise-Solutions/frontend-team

# Documentation
/docs/ @Lumina-Enterprise-Solutions/architecture-team
README.md @Lumina-Enterprise-Solutions/architecture-team

# CI/CD workflows
/.github/workflows/ @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team

# Security sensitive files
/security/ @Lumina-Enterprise-Solutions/security-team
Dockerfile @Lumina-Enterprise-Solutions/platform-team @Lumina-Enterprise-Solutions/devops-team

Add CI/CD workflow
  .github/workflows/ci.yml
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team

Add test script to automate testing environment setup and execution
  .env.example
  .mdignore
  Dockerfile
  Makefile
  cmd/server/main.go
  docker-compose.test.yml
  docker-compose.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/handlers/health.go
  internal/handlers/user.go
  internal/models/user.go
  internal/repository/mock_user_repository.go
  internal/repository/user.go
  internal/services/user.go
  internal/services/user_test.go
  migrations/001_create_users_table.down.sql
  migrations/001_create_users_table.up.sql
  migrations/002_create_roles_table.down.sql
  migrations/002_create_roles_table.up.sql
  migrations/003_create_user_roles_table.down.sql
  migrations/003_create_user_roles_table.up.sql
  scripts/test.sh
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team, @Lumina-Enterprise-Solutions/backend-team

Refactor CI pipeline and enhance README documentation
  .github/workflows/ci.yml
  README.md
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team, @Lumina-Enterprise-Solutions/architecture-team

Update CI pipeline to test only Go version 1.24
  .github/workflows/ci.yml
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team

Update CI pipeline to use an array for Go version in test job
  .github/workflows/ci.yml
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team

Add badges for Go Report Card, License, CI/CD Pipeline, and Go Version to README
  README.md
Owners: @Lumina-Enterprise-Solutions/architecture-team

Initial implementation (#1)
  .env.example
  .github/workflows/ci.yml
  .mdignore
  Dockerfile
  Makefile
  README.md
  cmd/server/main.go
  docker-compose.test.yml
  docker-compose.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/handlers/health.go
  internal/handlers/user.go
  internal/models/user.go
  internal/repository/mock_user_repository.go
  internal/repository/user.go
  internal/services/user.go
  internal/services/user_test.go
  migrations/001_create_users_table.down.sql
  migrations/001_create_users_table.up.sql
  migrations/002_create_roles_table.down.sql
  migrations/002_create_roles_table.up.sql
  migrations/003_create_user_roles_table.down.sql
  migrations/003_create_user_roles_table.up.sql
  scripts/test.sh
Owners: @Lumina-Enterprise-Solutions/platform-team, @Lumina-Enterprise-Solutions/devops-team, @Lumina-Enterprise-Solutions/architecture-team, @Lumina-Enterprise-Solutions/backend-team
